.std{
   border: 1px solid black;
   width: 250px;
   height: 190px;
   background-color: goldenrod;
   color: black;
   border-radius: 2px;
   margin: 5px;
   padding: 5px;
}
h3{
   margin: 0em;
}
p{
   margin: 0em;
}
button{
   margin-right: 5px;
   margin-top: 5px;
}